@media only screen and (min-width: 400px){
    .earth{
        display: block;
        margin: auto;
        width: 30%;
    }
}

body{
    padding: 0 !important;
}

.index{
    height: 100%;
    position: relative;
}

.index-box{
    width: 100%;
    position: relative;
}

.index .index-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    max-width: 450px;
    margin-bottom: 17px;
}

.index form{
    display: block;
    margin: auto;
    max-width: 300px;
}

.earth{
    width: 59%;
    max-width: 210px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*====== INPUT ======*/
.search-input{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #e2e2e2;
}

.index .search-icon{
    height: 18px;
    margin: 5.5px 0 0 20px;
    position: absolute;
}

.input-group{
    margin-bottom: 5px !important;
}

.input-group .btn {
    color: white;
    background-color: #00C897;
    border: 1px solid #00C897;
}

/* autocomplete */
#catAutcomplete{
    background-color: #E2E2E2;
    border: 1px solid rgb(31, 31, 31, 0.2);
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
    color: rgb(33, 37, 41);
}

#autocompleteFiller{
    width: 42px; /*same as search button*/
}

.category{
    display: block;
    cursor: pointer;
    width: 100%;
}

.category{ /*remove button properties*/
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-align: left;
}

.category:hover{
    color: black;
}

/*====== TYPER ======*/

.typer{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    color: white;
    text-align: center;
    user-select: none;
    margin-top: 35px;
}


