/*====== ABOUT ======*/
.abouth1 {
    font-family: 'Bree Serif', serif;
    margin-top: 52px;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    color: #00C09A;
    text-align: center;
  }
  
  .aboutp {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
  }
  .aboutimgs{
    margin-top: 32px;
    position: relative;
  }
  .profile{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutp2{
    margin-top: 25px;
    padding: 0 10px;
    text-align: justify;
    color: white;
  }