.admin{
    margin-top: 20px;
}

.admin h1{
    color: rgb(241, 241, 241);
}

.admin h2{
    padding-bottom: 20px;
    font-weight: 510;
}

.adminBox{
    background-color: rgb(241, 241, 241);
    border-radius: 24px;
    padding: 20px 30px 40px 30px;
    margin: 10px;
}

@media (max-width: 768px) {
    .adminBox{
        margin: 10px 0;
    }
}

i{
    padding: 2px 0;
}

/*====REPORTS====*/

.reporter{
    word-wrap: break-word;
    color: rgb(33, 37, 41);
}

.reportDiv{
    margin:  0 0 26px 0;
}

.reportMsg a{
    font-weight: bold;
}

.reportMsg p{
    margin: 7px 0 0 0 ;
}


.actions{
    width: 174px;
    height: 25px;
}

@media (max-width: 768px) {
    .actions{
        width: 100%;
    }

    .reportDiv{
        margin:  0 0 60px 0;
    }
}

/*====CATEGORIES====*/

.admin ul{
    margin-top: 20px;
    padding: 0;
}

.category{
    margin: 10px 0;
    list-style: none;
}

.category button{
    margin-right: 5px;
}

.input-group{
    margin: 0 !important;
}

