@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*temp*/
#debug-icon{
    display: none !important;
}

/*====== TAGS ======*/
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

    background-color: #003c5a;
}

body{
    padding: 50px 0 0 0; /*correct menu height */
}

a{
    text-decoration: none;
    color: white;
}

/*====== MEDIA QUERY ======*/

@media only screen and (min-width: 400px){
    .menu-bar{
        display: none;
    }
}

/*====== MENU ======*/

.main-nav{
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed; /* height corrected at body top margin */
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    height: 100%;
}

.menu .logged-in-menu{
    max-width: 150px;
}

.menu-item, .menu-link{
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

.menu-link{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding-top: 14px;
    padding-left: 25px;
}

.menu-link:hover{
    color: #FFD365;
}


.menu-bar{
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
}


.one,.two,.three{
    width: 33px;
    background: white;
    height: 3px;
    transition-timing-function: ease-in;
    transition: all 0.3s;
    border-radius: 2px;
}
.two{
    margin: 5px 0;
}
  
/*====== ANIMATION MENU ======*/
  
.menu-bar-show .one{
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-bar-show .two{
    opacity: 0;
}
.menu-bar-show .three{
    transform: rotate(-45deg) translate(6px, -7px);
}
  

/*====== USERBOX ======*/

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile_pic{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display:flex;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    margin-right: 5px;
}
.dropdown-menu {
    color: white;
}

.logo-dropdown{
    width: 80%;
}

.dropdown-username{
    font-weight: bold;
}

#dropdownMenuButton2:hover{
    color: #FFD365;
}



/*====== LOGIN & REGISTER FORM ======*/

.modal-content {
    border-radius: 35px;
    background-color: #FFD365;
    border: 8px solid #FDFFA9;
    padding-bottom: 30px;
    max-width: 400px;
    margin-bottom: 20%; /*move it up*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.btn-close{
    position: absolute;
    top: 18px;
    right: 18px;
}

.loginFormWrapper div{
    margin: 100px;
    background-color: aquamarine;
}

.modal-body .logoLogin{
    display: block;
    padding-top: 51px;
    padding-bottom: 38px;
    margin: auto;
    width: 135px;
}

.input-group-text {
    background-color: #FFD365 !important;
    outline: none;
}

.form input, .form textarea{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    border: none;
    outline: none;
    padding: 20px 0 0 3px;
    width: 100%;
    max-width: 250px;
    border-bottom: 6px solid #00C897;
    background-color: #E8F0F2;
    font-family: 'Josefin Sans', sans-serif;
}


.loginBtn{
    font-family: 'Bree Serif', serif;
    padding: 3px 0px 5px 0px;
    width: 100%;
    max-width: 180px;
    border-radius: 25px;
    transition: all 0.5s;
    border: 2px solid #019267;
    max-height: 36px;
}

.loginMainBtn {
    margin-top: 60px;
    color: #E8F0F2;
    background-color: #019267;
}

.loadingBtnImg{
    width: 23px;
    transform: scale(1.4);
}

.loginSecondaryBtn {
    margin-top: 20px;
    color: #019267;
    background-color: #FFD365;
}

.loginSecondaryBtn:active {
    background-color: #019267;
    color: white;
}

#customLoginError{
    color: #dc3545;
    margin-top: .6rem;
    font-size: .875em;
}



