
body{
    padding: 0 !important; /*rectificate so menu is transparent */
}

.main-nav{
    background-color: rgba(255, 255, 255, 0.5) ;
}
.menu-link, .dropdown-username{
    color: black !important;
}
.one, .two, .three{
    background-color: black !important;
}

#map {
	width: 100%;
	height: 100%;
    position: relative;
    left: 0;
    z-index: 0;
}

/*=====CATEGORY LIST======*/
#categoriesListWrapper{
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 100;
    user-select: none;
}

.catFiltered{
    background-color: rgba(56, 56, 56,0.7);
    border: 1px solid rgba(181, 181, 181,0.7);;
    border-left: none;
    border-radius: 0 23px 23px 0;
    display: block;
    width: max-content;
    margin-bottom: 3px;
    padding: 7.5px 9px 7.5px 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 15px;
}

.catFiltered .crossDiv{
    height: 100%;
    padding: 0px 9px 0px 5px;
    cursor: pointer;
}

.catFiltered p{
    margin: 0;
    display: inline-block;
    line-height: 100%;
}

.newCatButton{
    cursor: pointer;
    padding-left: 5px;
    background-color: rgba(1, 146, 103, 0.85) !important;
}

.newCatButton img{
    transform: rotate(45deg);
}

.newCatButton p{
    padding-right: 5px;
    transform: translateY(1.5px);
}

/*add new category list*/

.listNotFiltered{
    padding-left: 5px;
    background-color: rgba(1, 146, 103, 0.85) !important;
}

.listNotFilteredElement{
    cursor: pointer;
}

.notFilteredCrossDiv{
    padding-right: 9px;
}

.listNotFiltered p{
    transform: translateY(1.5px);
}

.listNotFiltered img{
    transform: rotate(45deg);
}




#newSpotButton{
    z-index: 15;
    position: fixed;
    right: 0;
    bottom: 55px;
    width: 55px; 
    margin-right: 5px;
    cursor: pointer;
}

#userLocationButton{
    cursor: pointer;
    z-index: 15;
    position: fixed;
    right: 0;
    bottom: 0;
    width:45px; 
    margin-bottom: 10px; 
    margin-right: 10px;
}

.bounce {
    text-align:center;
    margin:0 auto;
    margin-top:100px;
    height:20px;
    width:150px;
    padding:20px;  
    background:tomato;
    animation: bounce 0.75s infinite;
}

.newMarker{
    z-index: 100;
}

/*=====SPOT POPUP======*/
.spotPopup{
    width: 240px;
}

.spotPopup .leaflet-popup-content{
    margin: 13px 14px 10px 14px;
}

.spotPopup .leaflet-popup-close-button{
    display: none;
}

.spotPopup .loadingGif{
    height: 30px;
    margin: auto;
    display: block;
}

.spotPopup .topRow{
    margin: 0;
    margin-bottom: 8px;
}

.spotPopup .topRightDiv{
    padding: 0 4px 0 0;
    text-align: left;
    user-select: none;
    cursor: pointer;
}

.spotPopup .topRightDiv img{
    width: 100%;
    max-width: 22px;
    padding-right: 3px;
    transition: all .2s ease;
    height: 16.5px;
}

.spotPopup .likeDiv:hover img{
    transform: scale(1.2);
}

.spotPopup .likeDiv:active img{
    transform: scale(1.4);
}

.spotPopup .topRightDiv p{
    margin: 0;
    color: #848484;
    text-align: left;
}

.spotPopup .liked p{
    color: rgba(255, 0, 60, 0.67) !important;
}

.spotPopup h2{
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 0 12px 0 0;
    font-weight: bold;
}

.spotPopup .description{
    margin: 0 0 8px 0;
    font-size: 12px;
    color: #848484;
}

.spotPopup .bottomRow{
    margin: 0;
    height: 83px;
}

.spotPopup .imageDiv{
    align-items: center;
    padding: 0;
    height: 100%;
}

.spotPopup .mainImg{
    max-height: 100%;
    max-width: 100%;
    border-radius: 4px;
}

.spotPopup .buttonsDiv{
    padding: 0 0 0 6px;
}

.spotPopup button, .spotPopup a{
    width: 100%;
    border-radius: 100px;
    display: block;
    text-align: center;
    border: none;
}

.spotPopup .mapsButton{ 
    height: 43px;
    background-color: #E8E8E8;
}

.spotPopup .mapsImg{
    height: 100%;
}

.spotPopup .moreButton{
    height: 33px;
    background-color: #019267;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}


