.new-spot-form {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 540px;
}

.new-spot-form input,
.new-spot-form textarea,
.new-spot-form select {
    border: none;
    outline: none;
    border-bottom: 3px solid #00C897;
    background-color: #e8f0f265;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
}

.new-spot-form label {
    padding-top: 10px;
}

.new-spot-form .send {
    font-family: 'Bree Serif', serif;
    padding: 4px 19px 5px;
    border-radius: 25px;
    transition: all 0.5s;
    background-color: #00C897;
    border: none;
    color: #141E27;
    max-height: 36px;
}

.h1-newspot {
    font-family: 'Bree Serif', serif;
    color: #00C897;
    margin-top: 25px;
    margin-bottom: 25px;
}