.new-spot-form {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 540px;
}

.new-spot-form .spot-input{
    border: none;
    outline: none;
    border-bottom: 3px solid #00C897;
    background-color: #d4d4d442 !important;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;


}

.new-spot-form .spot-input::placeholder {
    color: rgb(182, 182, 182);
}

.new-spot-form label {
    padding-top: 10px;
}

.new-spot-form .send {
    font-family: 'Bree Serif', serif;
    padding: 4px 19px 5px;
    border-radius: 25px;
    transition: all 0.5s;
    background-color: #00C897;
    border: none;
    color: white;
    max-height: 36px;
}

.h1-newspot {
    font-family: 'Bree Serif', serif;
    color: #00C897;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    font-size: 36px;
}

.btn-back{
    margin: 0 9px 17px 0;
}